<!DOCTYPE html>
<html>

<body>
<h1>Listing tales</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body text</th>
    <th>Submission date</th>
    <th>Source</th>
    <th>Status</th>
    
  </tr>

<% @tales.each do |tale| %>
  <tr>
    <td><%= tale.title %></td>
    <td><%= tale.body_text %></td>
    <td><%= tale.submission_date %></td>
    <td><%= tale.source %></td>
    <td><%= tale.status %></td>
    <td> Tags:<%= raw tale.tags.map { |t| link_to t, tag_path(t) }.join(',') %>
    <td><%= link_to 'Show', tale %></td>
   
    <td><%= link_to 'Edit', edit_tale_path(tale) %></td>
    <td><%= link_to 'Destroy', tale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

</table>
<br />




<%= link_to 'New Tale', new_tale_path %>
</body>
</html>
